.container {
    position: relative;
}

.form-centralizado {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    align-items: center;
}

.titulo-pagina {
    text-align: center;
    margin-top: 20px;
}

.comando {
    display: flex;
    justify-content: space-between;
}